---
import Sidebar from '@components/chat/Sidebar.astro';
import Chat from '@components/chat/Chat.astro';
import Layout from '@layouts/Layout.astro';
import '@styles/global.css';
import ChatInput from '@components/chat/ChatInput.astro';
---
<Layout>
	<Sidebar>
		<Chat/>
		<Chat/>
		<Chat/>
	</Sidebar>
	<div class="ml-64 h-[calc(100vh-56p)]">
		<div class="w-full p-4 h-full flex flex-col justify-between">
			<div>sdsjidjs</div>
	<ChatInput/>
		</div>
</div>
</Layout>
