---
import Sidebar from '@components/chat/Sidebar.astro';
import Chat from '@components/chat/Chat.astro';
import Layout from '@layouts/Layout.astro';
import '@styles/global.css';
import ChatInput from '@components/chat/ChatInput.astro';
import Message from '@components/chat/Message.astro';
import Response from '@components/chat/Response.astro';

---
<Layout>
	<Sidebar>
		<Chat title="GT Event"/>
		<Chat title="GT Research"/>
		<Chat title="GT Barcelona"/>
	</Sidebar>
	<div class="ml-64 h-[calc(100vh-56px)]">
		<div class="w-full p-6 h-full flex flex-col justify-between">
            <div></div>
			<ChatInput/>
		</div>
	</div>
</Layout>
