---
import Layout from '@layouts/Layout.astro';
import Input from '@components/ui/Input.astro';
import '@styles/global.css';
import { signUp } from '../../firebase'; // Import the signUp function from firebase.js
---

<Layout>
  <section class="h-[calc(100vh-56px)] w-full flex justify-center items-center">
    <div class="rounded shadow w-[320px] bg-surface-200 py-6 px-8">
      <div class="flex flex-col gap-y-4 items-center">
        <h4>Sign Up</h4>
        <form id="sign-up-form" class="w-full flex flex-col gap-y-4">
          <Input
            label="Email"
            placeholder="Enter your email"
            type="email"
            id="email"
          />
          <Input
            label="Password"
            placeholder="Enter your password"
            type="password"
            id="password"
          />
          <Input
            label="Confirm Password"
            placeholder="Enter your password again"
            type="password"
            id="confirm-password"
          />
          <p id="error-message" class="text-red-500 text-sm hidden"></p>
          <button type="submit" class="btn-primary w-full h-9">Submit</button>
        </form>
      </div>
    </div>
  </section>
</Layout>

<script type="module" client:load>
  import { signUp } from '../../firebase';

  const form = document.getElementById('sign-up-form');
  const errorMessageElement = document.getElementById('error-message');
  
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const email = form.email.value;
    const password = form.password.value;
    const confirmPassword = form['confirm-password'].value;

    if (password !== confirmPassword) {
      errorMessageElement.textContent = 'Passwords do not match.';
      errorMessageElement.classList.remove('hidden');
      return;
    }

    try {
      await signUp(email, password);
      alert('User registered successfully');
      // Optionally redirect after successful sign-up
    } catch (error) {
      errorMessageElement.textContent = error.message;
      errorMessageElement.classList.remove('hidden');
    }
  });
</script>
