---
import Layout from '@layouts/Layout.astro';
import Input from '@components/ui/Input.astro';
import '@styles/global.css';
---
<Layout>
	<section class="h-[calc(100vh-56px)] w-full flex justify-center items-center">
		<div class="rounded shadow w-[320px] bg-surface-200 py-6 px-8">
			<div class="flex flex-col gap-y-4 items-center">
				<h4>Sign Up</h4>
				<Input label="Email" placeholder="Enter your email"/>
				<Input label="Password" placeholder="Enter your password"/>
				<Input label="Confirm Password" placeholder="Enter your password"/>
				<button class="btn-primary w-full h-9">Submit</button>
				<!-- <div class="flex flex-col gap-y-3 w-full"><button class="border-border border rounded flex items-center justify-center h-9">Login with Google</button><button>Login with Google</button></button>
			</div> -->
			
		</div>
	</section>
</Layout>
