@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: 236, 209, 71;
  --primary-200: 231, 216, 9;
  --primary-300: 96, 92, 48;
  --surface-100: 248, 248, 248;
  --surface-200: 254, 254, 254;
  --surface-300: 230, 230, 230;
  --border: 230, 230, 230;
  --fg-100: 0, 0, 0;
  --fg-200: 47, 51, 54;
  --fg-300: 90, 90, 95;
  --fg-400: 255, 255, 255;
  --themeicon: 114, 150, 171;
  --btn-hover: 240, 240, 240;
  --gt-primary: #b3a369; /* GT Gold */
  --gt-secondary: #003057; /* GT Blue */
  --gt-accent: #eaaa00; /* Light Gold */
  --gt-light: #f9f9f9;
  --gt-dark: #1a1a1a;
}

.light {
  --primary-100: 236, 209, 71;
  --primary-200: 231, 216, 9;
  --primary-300: 96, 92, 48;
  --surface-100: 240, 240, 240;
  --surface-200: 254, 254, 254;
  --surface-300: 230, 230, 230;
  --border: 230, 230, 230;
  --fg-100: 0, 0, 0;
  --fg-200: 47, 51, 54;
  --fg-300: 85, 85, 95;
  --fg-400: 255, 255, 255;
  --themeicon: 114, 150, 171;
  --btn-hover: 240, 240, 240;
}

.dark {
  --primary-100: 236, 209, 71;
  --primary-200: 231, 216, 9;
  --primary-300: 96, 92, 48;
  --surface-100: 45, 45, 50;
  --surface-200: 50, 50, 56;
  --surface-300: 30, 30, 30;
  --border: 70, 70, 70;
  --fg-100: 255, 255, 255;
  --fg-200: 255, 255, 255;
  --fg-300: 230, 230, 230;
  --fg-400: 47, 51, 54;
  --themeicon: 255, 207, 57;
  --btn-hover: 65, 65, 65;
}

.btn-primary {
  @apply rounded-md bg-primary-100 text-white hover:bg-yellow-500 duration-200 font-semibold active:scale-90 text-sm flex items-center justify-center shadow disabled:opacity-60 disabled:hover:bg-primary-100 disabled:cursor-not-allowed disabled:active:scale-100;
}

.btn-secondary {
  @apply text-primary-100 bg-white text-sm border-2 border-primary-100 flex items-center justify-center rounded-md hover:bg-yellow-50 active:scale-90 duration-200 disabled:opacity-60 disabled:hover:bg-white disabled:cursor-not-allowed disabled:active:scale-100;
}

.btn-tertiary {
  @apply text-primary-200 text-sm hover:text-yellow-500 duration-200 font-semibold flex items-center justify-center disabled:hover:text-primary-200 disabled:cursor-not-allowed;
}

.btn-red {
  @apply text-red-500 text-sm border-2 border-red-500 rounded-md hover:bg-red-100 duration-200 font-semibold flex items-center justify-center disabled:cursor-not-allowed;
}

.nav-link {
  @apply relative text-fg-300 text-sm after:absolute after:h-0.5 after:w-0 after:rounded-full after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:transition-all after:duration-300 after:bg-primary-100 hover:bg-neutral-100 rounded py-1 px-2;
}

.text-input {
  @apply flex w-full border-gray-200 border-2 duration-200 rounded-lg px-4 py-2 focus:outline-none focus:ring-2  focus:ring-primary-100 ring-offset-1 text-sm;
}

html {
  @apply overflow-x-hidden overflow-y-scroll bg-surface-100 text-fg-300;
}

h1 {
  @apply text-6xl font-bold max-sm:text-4xl text-fg-100;
}
h2 {
  @apply text-4xl font-bold max-sm:text-3xl text-fg-100;
}
h3 {
  @apply text-3xl font-bold max-sm:text-2xl text-fg-200;
}
h4 {
  @apply text-2xl font-bold text-fg-200;
}
h5 {
  @apply text-xl font-medium text-fg-200;
}
h6 {
  @apply text-lg font-medium;
}
p {
  @apply text-sm;
}
hr {
  @apply border-border;
}

.bg-gt-primary {
  background-color: var(--gt-primary);
}

.text-gt-primary {
  color: var(--gt-primary);
}

.border-gt-primary {
  border-color: var(--gt-primary);
}

footer {
  position: relative;
  z-index: 10;
}
