<nav class="h-full fixed w-64 bg-white border-r border-neutral-300">
    <div class="flex flex-col gap-y-4 p-4">
        <div class="flex items-center justify-between">
            <button>Expand</button>
            <button>New</button>
        </div>
        <div class="flex flex-col gap-y-3">
            <slot />
        </div>
    </div>
</nav>