---
import Navbar from '@components/ui/Navbar';
import Footer from '@components/ui/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title} | GT Toolkit</title>
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
  <Navbar client:load />
  
  <main class="h-screen">
    <slot />
  </main>

  <!-- <Footer/> -->
</body>
</html>