---

---

<nav class="w-full sticky shadow bg-white h-14 z-40">
	<div class="flex justify-between items-center px-8 h-full">
        <a class="" href="/"><svg width="24" height="30" viewBox="0 0 32 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.5107 0.892578L31.0267 7.89669L8.47885 28.909L0.962899 21.9049L23.5107 0.892578Z" fill="#E7D809"/>
            <path d="M8.47885 14.9008L31.0267 35.9131L23.5107 42.9172L0.962899 21.9049L8.47885 14.9008Z" fill="#E7D809"/>
            <path d="M8.47852 42.9175L0.962568 35.9134L23.5104 14.901L31.0264 21.9051L8.47852 42.9175Z" fill="#ECD147"/>
            <path d="M23.5104 28.9093L0.962563 7.89692L8.47851 0.892817L31.0264 21.9051L23.5104 28.9093Z" fill="#ECD147"/>
            <rect width="10.2736" height="10.2736" transform="matrix(0.731578 0.681758 -0.731578 0.681758 15.9946 7.89697)" fill="#605C30"/>
            </svg></a>
        <div class="flex gap-x-8 items-center h-full py-3">
            <a class="nav-link" href="/chat">Chat</a>
            <vr class="h-full border-border border"/>
            <div class="flex items-center gap-x-1">
                <a href="/login" class="btn-primary h-8 px-3">Login</a>
                <a href="/sign-up" class="btn-secondary h-8 px-3">Sign up</a>
            </div>
            
        </div>
    </div>
</nav>